* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: forestgreen;
}

.container {
    width: 100%;
    border: 2px solid white;
    padding: 15px;
}

.elemento {
    background-color: #fff;
    width: 150px;
    height: 150px;

    /* 
   transition-timing-function: ease;
   transition-duration: 2s;
   transition-delay: 0;
    */
    transition: all 2s ease-in-out 1s;
}

.elemento:hover {
    cursor: pointer;
    border-radius: 50%;
    transform: translateX(400px);
}